<html>
  <head>
    <link rel="stylesheet" href="/static/style.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  </head>
  <body>
    <form action="/" method="POST" class="form-example">
      <div class="form-example">
        <label for="name">Enter Company name: </label>
        <input type="text" name="company_name" id="name" required>
      </div>
    <div class="form-example">
        <label for="Ram">Ram size: </label>
        <input type="text" name="Ram" id="Ram" required>
      </div>
      <div class="form-example">
        <label for="Weight">Weight: </label>
        <input type="text" name="Weight" id="Weight" required>
      </div>
     <label for="cars">Touchscreen:</label>
    <select id="cars" name="Touchscreen">
      <option value="Yes">Yes</option>
      <option value="No">No</option>
    </select>
      <label for="IPS">IPS:</label>
    <select id="IPS" name="IPS">
      <option value="Yes">Yes</option>
      <option value="No">No</option>
    </select>
      <div class="form-example">
        <label for="PPI">PPI: </label>
        <input type="text" name="PPI" id="PPI" required>
      </div>
      <label for="CPU">CPU_Name:</label>
    <select id="CPU" name="CPU">
      <option value="Intel Core i3">Intel Core i3</option>
      <option value="Intel Core i5">Intel Core i5</option>
      <option value="Intel Core i7">Intel Core i7</option>
      <option value="AMD">AMD</option>
      <option value="other">other</option>
    </select>
      <div class="form-example">
        <label for="HDD">HDD: </label>
        <input type="text" name="HDD" id="HDD" required>
      </div>
      <div class="form-example">
        <label for="SSD">SSD: </label>
        <input type="text" name="SSD" id="SSD" required>
      </div>
      <label for="GPU">GPU_Brand:</label>
    <select id="GPU" name="GPU">
      <option value="Intel">Intel</option>
      <option value="AMD">AMD</option>
      <option value="Nvidia">Nvidia</option>
    </select>
      <label for="OS">OS:</label>
      <select id="OS" name="OS">
      <option value="mac">mac</option>
      <option value="Windows">Windows</option>
      <option value="other">other</option>
    </select>
      <div class="form-example">
        <input class="btn btn-primary" type="submit"  value="Predict">
      </div>
    </form>
  </body>
</html>

